.navbar-nav a{
  font-size: 1.5rem;
  font-weight: 500;
  z-index:1;
  color:white;
}
.navbar-brand{
  font-size: 1.7rem;
  font-weight: 600;
  text-shadow: grey 3px 3px 6px;
  color:white;
}
.sticky-top{
  z-index: 1;
}
/*-carousel*/
.carousel-item img{
  height: 90vh;
}

.carousel-caption1 {
  position: absolute;
  right: 15%;
  bottom: 40vh;
  left: 50%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}
.carousel-caption2 {
  position: absolute;
  right: 15%;
  bottom: 40vh;
  left: -20%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}
.revolution{
  padding: 8px;
  border:2px solid white;
}
