body{
  padding:0;
  margin:0;
}
.modal-content{
  overflow: hidden;
  padding: 0;
}
.modal-body{
  padding: 0;
  margin: 0;
}
.navbar{
  width: 100vw;
}
.navbar-nav a{
  font-size: 1.5rem;
  font-weight: 500;
  z-index:1;
  color:white;
}
.navbar-brand{
  font-size: 1.7rem;
  font-weight: 600;
  text-shadow: grey 3px 3px 6px;
  color:white;
}
.sticky-top{
  z-index: 1;
}
#opac{
  opacity: 1;
}
/*-carousel*/
.carousel-item img{
  height: 90vh;
}

.carousel-caption1 {
  position: absolute;
  right: 15%;
  bottom: 40vh;
  left: 50%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}
.carousel-caption2 {
  position: absolute;
  right: 15%;
  bottom: 40vh;
  left: -20%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}
.revolution{
  padding: 8px;
  border:2px solid white;
}
/*--first_section*/
.first_section{
 height: 100vh;

}
.text-center{
  margin-top: 10vh;
  margin-bottom: 3vh;
}
.welcome{
  margin-top:3vh;
  margin-bottom: 1vh;
}
.container-fluid{
  padding-left: 0;
  padding-right: 0;
}
.left_col{
background-color: black;
height: 100vh;
padding: 0vw;
color:white;
margin:0;
font-size: 1.3rem;
padding:2vh;
}
.pt-10{
  padding-top: 25px;
}
.right_col{
  position: relative;
  margin:0;
  padding:0;
}
.right_part_center{
  height: 40vh;
  width: 40vw;
  background-color: rgb(253, 243, 245);
  margin-top:20%;
  margin-left:4vw ;
  position: absolute;
}
.right_part_second_center{
position:absolute;
bottom: 0;
right: 0;
}
.right_part_second_center img{
  height: 250px;
  width: 350px;
  }
.row{
  margin-right:0px;
  margin-left: 0px;
}
.thumbnail img{
  height: 70vh;
  width: 40vw;
  z-index: 2;
  margin-top: 5vh;
  margin-left: -4vw;
  position: relative;
}
.background_first_container{
  background-color: rgba(255, 255, 255, 0.342);
  border:1px solid red;
  height: 70vh;
  width: 40vw;
  z-index: 7;
  margin-top: -70vh;
  margin-left: -4vw;
  position: absolute;
}
@media (max-width:1024px) {
  .right_col{
    display:none;
  }
  .right_col{
    width: 100vw;
  }
}
/*-second block-*/
.row{
  margin-left: 0px;
}
.second_block{
padding: 0;
}
.all_values{
height: 70vh;
width:100vw;
margin: 0;
padding:5vw;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
position: relative;
}

.all_values h2{
position: absolute;
color: red;
text-transform: uppercase;
font-size: 3.3rem;
letter-spacing:5px;
}
.all_values h3{
position: absolute;
color: rgb(253, 251, 251);
text-transform: uppercase;
font-size: 1.8rem;
top:40%;
}
.all_values p{
position: absolute;
color: #fff;
font-size: 2rem;
font-weight: 500;
top:65%;
}
.second_block_left{
background-image: url(../img/nails\ \(FILEminimizer\).jpg);

}
.second_block_right{
background-image: url(../img/haircut\ \(FILEminimizer\).jpg);

}
.second_block_left_s{
  background: url(../img/makeup\ \(FILEminimizer\).jpg);
}
.second_block_right_s{
  background-image: url(../img/sugaring\ \(FILEminimizer\).jpg);
}
.second_block_left_t{
  background: url(../img/eyebrown\ \(FILEminimizer\).jpg);
}
.second_block_right_t{
  background-image: url(../img/solarij\ \(FILEminimizer\).jpg);
}
/*--brends--*/

.last{
  margin-bottom: 5vh;
}
.last h2{
  font-size: 2.2rem;
  color:rgb(61, 3, 3);
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  margin: 5vh 0 30vh 0;
}

.line{
  height: 3px;
  width: 100vw;
  background-color: rgb(228, 227, 227);
}
.brands{
  display: flex;
  justify-content: space-between;
}
.brands img{
  height: 100px;
  width: 180px;
}
/*--contacts--*/
.contacts{
  background-color: rgb(26, 25, 25);
  height: 100vh;
  color:white;
}

.contacts_text{
  margin:20vh 0 0 10vw;
}
.contacts_text h3{
  font-size: 2rem;
  margin-top: 5vh;
}
.contacts_text h4{
  font-size: 1.8rem;
}
.contacts_text p{
  font-size: 1.3rem;
}
.map img{
  margin-top:10vh;
  height: 100%;
  width: 100%;
}
.contacts_structure{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width:1024px) {
  .right_col{
    display:none;
  }
  .right_col{
    width: 100vw;
  }
  .brands img{
    height: 70px;
    width: 80px;
  }
  .contacts_text h3{
    font-size: 1.4rem;
    margin-top: 5vh;
  }
  .contacts_text h4{
    font-size: 1.5rem;
  }
  .contacts_text p{
    font-size: 1.2rem;
  }
  .map img{
    margin-top:10vh;
    height: 200px;
    width: 300px;
  }
}
@media (max-width:600px) {
.contacts_text h3{
  font-size: 1.3rem;
  margin-top: 5vh;
}
.contacts_text h4{
  font-size: 1.2rem;
}
.contacts_text p{
  font-size: 1rem;
}
.map img{
  margin-top:10vh;
  height: 200px;
  width: 300px;
}
.contacts_structure{
  
  flex-direction: column;
  flex-wrap: wrap;
}
.carousel-inner{
  display: none;
}
}